.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.game {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.board .square {
    width: 90px;
    height: 90px;
}
